@mixin section_title {
  width: auto;
  height: auto;
  position: relative;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  color: $sectionTextColor;
  z-index: 200;
  font-weight: 600;
  display: table;
  margin: 0 auto;
  padding: 30px 0;
}

body {
  background-color: $contentBackgroundColor;
  width: 100%;
  height: auto;

  margin: 0;
}

.landing-logo {
  display: flex;
  align-items: center;

  p {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: $font2;
    font-weight: 800;
    color: $logoColor;
    line-height: 20px;
    font-size: 25px;
    padding-left: 15px;
    margin: 0;
    padding-top: 10px;

    span {
      text-align: center;
      font-weight: 100;
      font-size: 12px;
      letter-spacing: -1px;
    }
  }
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  background-image: $bgImgHeader;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  border-radius: 0 0 400px 0;
  z-index: 900;

  .header-wrap {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    padding-bottom: 200px;
    padding-top: 20px;
  }

  &_heading {
    font-size: 70px;
    font-family: $font1;
    font-weight: 800;
    width: 100%;
    max-width: 600px;
    color: $headerTitleColor;

    &:after {
      background-color: $headerColor;
      content: "";
      width: 295px;
      height: 50px;
      position: relative;
      left: 0;
      z-index: -1;
      top: -60px;
      display: block;
    }
  }

  &_text {
    width: 100%;
    max-width: 515px;
    margin-bottom: 60px;
    font-family: $font2;
    color: $headerTextColor;
  }

  &_button {
    background-color: $btnHeaderColor;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-family: $font1;
    color: #fff;

    &:hover {
      background-color: $hoverButtonColor;
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
}

.login {
  color: $contentBackgroundColor;
  padding-left: 15%;
}

.section {
  width: 100%;
  height: auto;
  position: relative;

  &_text {
    @include section_title;

    &::after {
      content: "";
      background-color: $welcomeToAdventureAfterColor;
      width: 178px;
      height: auto;
      min-height: 44px;
      position: absolute;
      right: 3%;
      z-index: -1;
      bottom: 35%;
    }
  }

  &_card_wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }

  &_card {
    background-color: $welcomeItemBgCol;
    margin: 0 10px;
    margin-top: 30px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    flex-direction: row;
    padding: 15px;
    position: relative;
    width: 50%;

    &_img {
      width: 100%;
      height: 225px;
      border-radius: 5px;
    }

    &_heading {
      text-align: center;
      color: #fff;
      font-family: $font1;
      font-weight: 600;
      position: relative;
      z-index: 100;
      flex-direction: column;
      margin: 0 auto;
      display: table;
      width: auto;
      margin-top: 10px;
      font-size: 25px;
    }

    &_underline {
      background-color: $headingUnderlineColor;
      height: auto;
      min-height: 11px;
      position: relative;
      display: table;
      z-index: -2;
      top: -13px;
      width: 100%;
    }

    &_text {
      color: #c0c0ce;
      font-family: $font2;
      text-align: center;
      padding: 0px 50px 0px 50px;
    }
  }

  &_banner {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -85px;
    z-index: 100;

    &_text_wrap {
      display: block;
      width: 100%;
      border-radius: 5px;
      background: $readyBackgroundColor;
      max-width: 990px;
      position: relative;
      z-index: 100;
    }

    &_button {
      display: block;
      position: relative;
      right: 15%;
      background-color: $btnReadyColor;
      width: 130px;
      height: 45px;
      border-radius: 3px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-size: 16px;
      font-family: "Source Sans Pro", sans-serif;
      color: #fff;
      z-index: 400;

      &:hover {
        @extend .header_button:hover;
      }
    }

    &_heading {
      color: $sectionBannerTitleColor;
      font-family: $font1;
      font-weight: 800;
      font-size: 35px;
      width: 100%;
      max-width: 600px;
      z-index: 200;
      margin: 30px 0 10px 100px;

      &:after {
        content: "";
        background-color: $sectionBannerAdterColor;
        width: 75px;
        height: auto;
        min-height: 55px;
        position: relative;
        left: 23.5%;
        z-index: -1;
        top: -61px;
        display: block;
      }
    }

    &_text {
      width: 100%;
      max-width: 600px;
      color: #c0c0ce;
      font-size: 20px;
      font-family: $font2;
      margin: 0 0 40px 100px;
    }
  }

  &_link {
    padding-left: 40%;
    color: $contentBackgroundColor;
  }
}

.footer {
  width: 100%;
  height: auto;
  position: relative;
  background-color: $footerColor;
  padding: 150px 0 50px 0;

  .footer-wrap {
    width: 85%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footer-cr {
      color: #c0c0ce;
      font-family: $font2;
      font-size: 16px;
    }
  }

  &_logo {
    display: flex;
    flex-direction: row;
    img {
      padding-right: 15px;
    }
    p {
      color: #c0c0ce;
      font-size: 30px;
      margin: 0;
      padding: 10px 0 0 0;
      span {
        font-size: 12px;
      }
    }
  }
  &_text {
    width: 100%;
    max-width: 350px;
    font-family: $font2;
    margin: 0;
    font-size: 16px;
  }
}
