$contentBackgroundColor: #21232e;
$headerTitleColor: #fff;
$headerTextColor: #fff;
$btnHeaderColor: #e3ac00;
$hoverButtonColor: red;
$welcometitleColor: #fff;
$welcomeItemBgCol: #3b3f50;
$headerColor: #ff4e33;
$logoColor: #fff;
$welcomeToAdventureAfterColor: #ff4e33;
$sectionTextColor: #fff;
$headingUnderlineColor: #ff4e33;
$readyBackgroundColor: linear-gradient(to right, #d89b0a, #922b53);
$btnReadyColor: #d89b0a;
$sectionBannerTitleColor: #fff;
$sectionBannerAdterColor: #ff4e33;
$footerColor: #3b3f50;

$font1: "Source Sans Pro", sans-serif;
$font2: "Fresca", sans-serif;
$font3: "Hind", sans-serif;

$bgImgHeader: url("../img/m-h-night.jpg");
