$contentBackgroundColor: #fff;
$headerTitleColor: #2c2f3c;
$headerTextColor: #2d3040;
$btnHeaderColor: #699900;
$hoverButtonColor: red;
$welcometitleColor: #2c2f3c;
$welcomeItemBgCol: #21232e;
$headerColor: #14a0c7;
$logoColor: #2d3040;
$welcomeToAdventureAfterColor: #14a0c7;
$sectionTextColor: #2c2f3c;
$headingUnderlineColor: #14a0c7;
$readyBackgroundColor: linear-gradient(to right, #61911c, #2d5bd8);
$btnReadyColor: #699900;
$sectionBannerTitleColor: #2c2f3c;
$sectionBannerAdterColor: #14a0c7;
$footerColor: #21232e;

$font1: "Source Sans Pro", sans-serif;
$font2: "Hind", sans-serif;
$font3: "Fresca", sans-serif;

$bgImgHeader: url("../img/m-h-day.jpg");
