﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

nav{
  background-image: url("../img/header-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  
}

a, h1, h3 {
  color: white;
}

.header-section{
  margin-top: 55px;
  background-image: url("../img/header-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

h1{
  font-size: 3rem;
  font-weight: 800;
}

h2{
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

h5 {
  color: grey;
}

h4 {
  color: grey;
  font-weight: bolder;
  font-weight: 600;
}

hr {
  padding: 50px 10px;
  border-top: 3px solid black;
  margin: auto;
  width: 2%;
}

.btn-service-section {
  background-image: url("../img/touch-bg.png");
  background-position: top;
  border-radius: 2em;
  padding: 10px 70px;
  margin-bottom: 60px;
  
}

.works-section{
  padding-top: 50px;
  background-color: lightgrey;
  padding-bottom: 50px;
  margin-bottom: 50px;
}


.line-under-work{
  width: fit-content;
  margin: auto;
}

.references-section{
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.line-under-references{
  width: fit-content;
  margin: auto;
}

.contact-section{
  padding-top: 50px;
  background-color: black;
  color: white;
  padding-bottom: 50px;
}

.line-under-contact {
  width: fit-content;
  margin: auto;
}

.bg-black{
  background-color: black;
  border: none;
  border-radius: 0%;
  border-bottom: 3px solid white;
}

.wrap>input::placeholder {
  color: grey;
  font-size: 0.8rem;
}

.col>input::placeholder {
  color: grey;
  font-size: 0.8rem;
}

.wrap{
  width: 80%;
  margin: auto;
}

.btn-contact-section{
  padding: 10px 50px;
  border-radius: 0%;
  background-color: #181616;
  border: none;
  font-size: 0.8rem;
  color: white;
}

.footer{
  padding-top: 30px;
  background-image: url("../img/footer-bg.jpg");
  background-position: left;
  height: 190px;
}

.pre-wrap{
  white-space: pre-wrap;
}

.footer-info > div{
  font-weight: 800;
  height: 50px;
}

.footer-social-icon > img{
  padding: 10px;
}

.white-text{
  color: white;
}