body {
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    margin-left: 250px;
  }

  .nav {
    margin-right: 250px;
  }

  .main-nav {
    list-style: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-around;
  }

  .nav-item > a {
    text-decoration: none;
    font-weight: bold;
    color: #363636;
    padding: 10px;
  }

  .nav-item > a:hover {
    color: #0078aa;
  }

  .header_footer {
    background-image: url(../img/lady.jpg);
    color: #363636;
    padding: 150px;
  }

  h1 {
    font-size: 350%;
  }

  .fas {
    margin-right: 30px;
    color: white;
    background-color: #0078aa;
    padding: 20px;
    border-radius: 50%;
  }

  .fas:hover {
    color: #0078aa;
    background-color: #fff;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #0078aa;
    border-radius: 50%;
  }

  .second {
    width: 50%;
  }

  .about {
    display: flex;
    flex-direction: row;
  }

  .about-text {
    margin-left: 50px;
    margin-top: 100px;
  }

  .about-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .about-nav > li::before {
    content: "=>";
    padding-right: 4px;
    color: #0078aa;
  }

  .h2-text {
    color: #0078aa;
  }
}
