/* START: Task 1 Styles */
table,
th,
td {
  text-align: center;
  border: 1px solid black;
}

th,
td {
  padding: 50px;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* END: Task 3 Styles */
