body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  background: #f4f4f4;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-section1,
.content-section2,
.content-section3 {
  width: 75%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post {
  padding: 70px 30px 30px 30px;
}

.content-section3 {
  justify-content: space-between;
}

.post-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post.justify-left {
  text-align: left;
  padding-right: 19%;
}

.justify-right {
  text-align: right;
  padding-left: 19%;
}

.img-container,
.post {
  position: relative;
  box-sizing: border-box;
}

.img-container img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.img-container {
  width: 50%;
}

.img-container ~ .post {
  width: 50%;
}

.content:last-child {
  display: flex;
}

.padding-box {
  padding-right: 10%;
  padding-left: 30px;
  padding-top: 200px;
}

.post h2 {
  line-height: 1em;
  font-size: 2.3vw;
}

.post p {
  line-height: 2.5em;
  font-weight: 400;
  color: #72694e;
}

.button-bottom {
  margin-top: 15px;
  padding: 15px 15px;
  border: 1px solid black;
  background: white;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.post.justify-left {
  text-align: left;
  padding-right: 19%;
}

.justify-right {
  text-align: right;
  padding-left: 19%;
}

.img-container,
.post {
  position: relative;
  box-sizing: border-box;
}

.img-container img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.img-container {
  width: 50%;
}

.img-container ~ .post {
  width: 50%;
}

.content:last-child {
  display: flex;
}

.padding-box {
  padding-right: 10%;
  padding-left: 30px;
  padding-top: 200px;
}

.post h2 {
  line-height: 1em;
  font-size: 2.3vw;
}

.post p {
  line-height: 2.5em;
  font-weight: 400;
  color: #72694e;
}

.button-bottom {
  margin-top: 15px;
  padding: 15px 15px;
  border: 1px solid black;
  background: white;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
