@media print {
  .tm-sidebar,
  .boxes,
  .heading.tm-content-box,
  .blocks,
  #tmCarousel,
  .img-contact-us,
  #contact {
    display: none;
  }

  .tm-content-box.flex-2-col {
    display: flex;
  }

  .flex-item {
    width: 50%;
    height: 50%;
  }

  section::before {
    display: none !important;
  }

  .tm-section-title {
    color: blue !important;
  }
}

.box-bg:hover h2.tm-section-title {
  color: #ffffff;
  background-color: lightskyblue;
}

section,
.tm-sidebar,
.blocks,
#home {
  box-shadow: 1px 3px 10px rgba(61, 55, 61, 0.7);
}

.tm-banner {
  background-color: rgba(245, 245, 245, 1);
}

.tm-banner-inner {
  background-color: #ffffff;
}

section::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 40px solid transparent;
  border-top: 0px solid lightskyblue;
  border-left: 230px solid lightskyblue;
}

.carousel-item.active h2 {
  color: gainsboro;
  letter-spacing: 5px;
}

.padding-medium h2 {
  text-align: center;
  color: #76cdd7;
}

.padding-medium ol {
  list-style-type: decimal;
}

.padding-medium ol a:visited {
  text-decoration: underline;
}

.padding-medium ol a:hover {
  color: black;
  text-decoration: none;
}

.padding-medium .text::after {
  content: "New";
  color: red;
  font-variant: small-caps;
  font-size: 70%;
  position: absolute;
}

.box-work {
  padding: 10px;
}

.box-work:nth-child(2n + 0) {
  background-color: #f1f1f1;
}

.box-work p::first-letter {
  font-size: 150%;
  font-style: italic;
  color: black;
}

p::first-letter {
  font-size: 30px;
  color: #87cefa;
}

.box-work p {
  font-style: italic;
}

#contact h2 {
  text-align: left;
  color: lightskyblue;
}

.mandatory-field::after {
  content: "*";
  font-weight: bold;
  color: red;
}

.submit-btn {
  margin-left: 880px;
  background: none;
  color: lightskyblue;
  border-radius: 0px;
  border-color: lightskyblue;
  width: 150px;
  height: 50px;
}

.submit-btn:hover {
  background: lightskyblue;
  border-color: transparent;
}

.tm-nav-item:hover {
  background: #f6f6f6;
}

.flex-2-col {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-item h2 + p {
  font-style: italic;
}

.tm-section-description {
  line-height: 1.8;
  text-indent: 22px;
}
